<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <title>Home Page</title>
        <link href="/rss/" rel="alternate" title="RSS" type="application/rss+xml" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
    </head>
    <body>
        <div class="content">
            <a href="http://github.com/aslam" target="_blank"> 
                <img style="position: absolute; top: 0; right: 0; border: 0;" 
                  src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /> 
            </a>
            <ul> 
                <li> 
                    <a href='http://twitter.com/syedaslam' title='My Twitter' target='_blank'> 
                        <img src="/images/twitter.png" /> 
                    </a> 
                </li>
                <li> 
                    <a href='http://www.facebook.com/aslamsha' title='My Facebook' target='_blank'> 
                        <img src="/images/facebook.png" /> 
                    </a> 
                </li>
                <li> 
                    <a href='http://www.flickr.com/photos/syed-aslam/' title='My Flickr' target='_blank'> 
                        <img src="/images/flickr.png" /> 
                    </a> 
                </li> 
                <li> 
                    <a href='http://www.linkedin.com/in/syedaslam' title='My Linkedin' target='_blank'> 
                        <img src="/images/linkedin.png" /> 
                    </a> 
                </li> 
                <li> 
                    <a href='http://objsam.wordpress.com' title='My Wordpress' target='_blank'> 
                        <img src="/images/wordpress.png" /> 
                    </a> 
                </li> 
            </ul> 

            <p> 
                Hi, my name is Syed Aslam and I'm based in <span class="green">Bangalore, India</span>. I'm a web
                developer specialising in Ruby on Rails and (formerly) Java development. I'm currently working on
                developing public health information platforms at <span class="green"> 
                <a href="http://mapunity.in/" target="_blank">Mapunity</a> </span>. 
            </p>
             
            <p>
                I enjoy developing usable standards-compliant websites, and intend to pursue a career that allows me 
                to make the web a better place.
            </p>

            <h1> <a href="http://blog.syedaslam.com">blog.<span class="green">syedaslam</span>.com </a> </h1> 

            <p> 
                Want to talk about a project of mine - or yours? Send me an e-mail at <span class="green">
                aslam.maqsood@gmail.com </span>, or <span class="green"> 
                @<a href="http://twitter.com/syedaslam" target="_blank">syedaslam</a> </span> (if you're into that)
            </p> 
        </div>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-16520283-1']);
            _gaq.push(['_setDomainName', '.syedaslam.com']);
            _gaq.push(['_trackPageview']);

            (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
        </script>
    </body>
</html>

